<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="container">
    <h1>About Travel Forum</h1>
    <p>Welcome to Travel Forum, a platform created for study abroad students and digital nomads to share their experiences, ask questions, review restaurants, bars, activities, rate cities, and more!</p>
    
    <h2>Purpose of the Website</h2>
    <p>The purpose of this website is to create a community where travelers can connect, learn from each other's experiences, and discover new destinations and activities around the world. Whether you are planning your next adventure or looking for recommendations, Travel Forum is here to help.</p>
    
    <h2>About the Creator</h2>
    <p>Travel Forum was created by Sam Mozer, a student at the University of Wisconsin-Madison. Sam is passionate about exploring new cultures and sharing travel insights with fellow adventurers. This platform is a result of that passion and aims to make travel experiences more enjoyable and informative for everyone.</p>
    
    <p>Feel free to join our community, ask questions, share your stories, and let's make every journey unforgettable!</p>
  </div>
</body>
</html>
