<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/styles.css">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>


  <div class="cool-text">
    A travel forum built specifically for digital nomads and study abroad students.
  </div>

</body>
</html>
